<section>
    <div class="items-header flexrow" data-effect-type="{{section.type}}">
        <h3 class="item-name effect-name flexrow">Projects</h3>
        <div class="effect-source"></div>
        <div class="effect-source"></div>
        <div class="item-controls effect-controls flexrow">
            <a
                class="effect-control"
                data-action="create"
                title="{{localize 'WWN.EffectCreate'}}"
            >
                <i class="fas fa-plus"></i> {{localize "WWN.Add"}}
            </a>
        </div>
    </div>
    <ol class="item-list">
        {{#each system.projects as |project|}}
        <li class="item flexrow">
            <label>Project Name</label>
            <input type="text" value="{{project.name}}" />
            <label>Difficulty</label>
            <select>
                {{#select project.difficulty}}
                <option value=""></option>
                <option value="plausible">Plausible</option>
                <option value="improbable">Improbable</option>
                <option value="impossible">Impossible</option>
                {{/select}}
            </select>
            <label>Scope</label>
            <select>
                {{#select project.scope}}
                <option value=""></option>
                <option value="village">Village</option>
                <option value="city">City</option>
                <option value="region">Region</option>
                <option value="nation">Nation</option>
                <option value="realm">Realm</option>
                {{/select}}
            </select>
        </li>
        {{/each}}
    </ol>
</section>
