<form class="wwn roll-dialog">
    <div class="flex flex-col">
        <h1> {{name}}</h1>
        <div class="flex flexrow form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" value="{{name}}">
        </div>
    </div>
</form>
