<form class="godbound {{cssClass}}" autocomplete="off">
    {{! Sheet Header }}
    <header class="sheet-header flexrow">
        {{> "modules/foundry-wwn-godbound-sheet/scripts/templates/actors/partials/character-header.html"}}
    </header>

    {{! Sheet Tab Navigation }}
    <nav class="sheet-tabs tabs flexrow" data-group="primary">
        <a class="item" data-tab="attributes">
            {{localize "WWN.category.attributes"}}
        </a>
        <a class="item" data-tab="gifts"> Gifts </a>
        <a class="item" data-tab="inventory">
            {{localize "WWN.category.inventory"}}
        </a>
        <a class="item" data-tab="notes"> {{localize "WWN.category.details"}} </a>
        <a class="item" data-tab="projects"> Projects </a>
    </nav>
    {{! Sheet Body }}
    <section class="sheet-body">
        {{! Attributes Tab }}
        <div class="tab" data-group="primary" data-tab="attributes">
            {{> "modules/foundry-wwn-godbound-sheet/scripts/templates/actors/partials/character-attributes-tab.html"}}
        </div>
        <div class="tab" data-group="primary" data-tab="gifts">
            {{> "modules/foundry-wwn-godbound-sheet/scripts/templates/actors/partials/character-gifts-tab.html"}}
        </div>
        <div class="tab" data-group="primary" data-tab="inventory">
            {{> "modules/foundry-wwn-godbound-sheet/scripts/templates/actors/partials/character-inventory-tab.html"}}
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            {{> "modules/foundry-wwn-godbound-sheet/scripts/templates/actors/partials/character-notes-tab.html"}}
        </div>
        <div class="tab" data-group="primary" data-tab="projects">
            {{> "modules/foundry-wwn-godbound-sheet/scripts/templates/actors/partials/character-projects-tab.hbs"}}
        </div>
    </section>
</form>
