.wwn.sheet.actor nav.sheet-tabs {
    top: 375px;
}

.wwn.sheet.item {
    min-width: 600px;
}

.godbound .add-project-button {
    cursor: pointer;
}

.godbound .project-card {
    border: 2px solid #252525;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 5px 0;
}

.godbound .project-card .project-name-row {
    margin-bottom: 5px;
}

.godbound .project-card .project-field-row {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-bottom: 5px;
}

.godbound .project-card .project-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 40px;
}

.godbound .godbound-label {
    background: #252525;
    color: whitesmoke;
    display: block;
    line-height: 30px;
    min-height: 30px;
    padding: 0 5px;
}

.godbound .project-card .godbound-label.project-name-label {
    max-width: 94px;
}

.godbound .project-card .project-field-row .godbound-label {
    max-width: 78px;
}

.godbound .project-card .project-input {
    height: 30px;
    padding: 0 3px;
    margin: 0 3px;
}

.godbound .project-card .project-input.project-name-input {
    text-align: start !important;
}

.godbound .project-card .project-description-input {
    resize: none;
}

.godbound .project-card .project-select {
    font-size: 13px;
    height: 30px;
    margin: 0 3px;
    max-width: 92px;
}

.godbound .project-card .project-complete-button {
    line-height: 24px;
}

.sheet .godbound .sheet-body .inventory.gifts .field-long {
    flex-basis: 90px;
}

.sheet .godbound .sheet-body .inventory.gifts .item-controls {
    display: flex;
    flex-basis: 90px;
    justify-content: flex-end;
}

.godbound .sheet-body .inventory.gifts .button {
    cursor: pointer;
    margin-left: 10px;
    min-width: 20px;
}

.godbound .gifts .header {
    margin-bottom: 5px;
}

.godbound .gifts .effort-container {
    border-bottom: solid 1px #252525;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.godbound .gifts .gift-effort-row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 5px;
}

.godbound .gifts .gift-effort-row div {
    display: flex;
}

.godbound .gifts .gift-effort-buttons-row {
    display: flex;
    justify-content: flex-end;
}

.godbound .gifts .gift-effort-buttons-row button {
    margin-left: 10px;
    max-width: 100px;
}

.godbound .gifts .gift-effort-row .godbound-label {
    min-width: 106px;
}

.godbound .gifts .item-list .checkbox {
    height: 24px;
}

.godbound .gifts .gift-points-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.godbound.gift-sheet .sheet-header {
    border-bottom: solid 1px #252525;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.godbound.gift-sheet .gift-field-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 5px;
}

.godbound.gift-sheet .gift-field-row input, .godbound.gift-sheet .gift-field-row select {
    height: 30px;
}

.godbound.gift-sheet .gift-field-row select {
    margin-left: 3px;
}

.wwn.sheet.actor .sheet-body .inventory .item-list .gift-rollable:hover .item-image {
    background-image: url("/icons/svg/d20-grey.svg") !important;
    cursor: pointer;
}

.wwn.sheet.actor .sheet-body .inventory .item-list .gift-rollable .item-image:hover {
    background-image: url("/icons/svg/d20-black.svg") !important;
}
